.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: snow;
    background: gray;
}
.header a{
    text-decoration: none;
    font-size: 25px;
    margin: 0 5px;
    color: snow;
}
.tools{
    display: flex;

}